<form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">

    <label for="email">E-Mail <br>
    <input type="email" name="email" placeholder="E-Mailadresse" autocomplete="email" email=true required ngModel></label>

    <label for="password">
    <input type="password"  name="password" autocomplete="current-password"  placeholder="Password" ngModel> </label>

    <button type="submit">go</button>
</form>