<h2>Öffentlich</h2>
<form #addLocationForm="ngForm" (ngSubmit)="onAddLocation(addLocationForm)">

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name </mat-label>
        <input matInput type="text" name="name" placeholder="name" autocomplete="off" required ngModel>
    </mat-form-field>
    


    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name (geläufig/umgangssprache)</mat-label>
        <input matInput type="text" name="common-name" placeholder="name" autocomplete="off" required ngModel>
    </mat-form-field>


    
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Telefonnummer</mat-label>
        <input matInput type="tel" name="tel" placeholder="Telefonnummer" autocomplete="tel" required ngModel>
    </mat-form-field>


    <mat-search-google-maps-autocomplete appearance="outline"
                                        country="de"
                                        (onGermanAddressMapped)="onGermanAddressMapped($event)">
    ></mat-search-google-maps-autocomplete>

    
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>max Wert Gutscheine</mat-label>
        <input matInput type="number" name="maxvalue" placeholder="z.B.: 150,50€" min="0" max="5000" autocomplete="off" required ngModel>
    </mat-form-field>


    <button type="submit">go</button>
</form>