
<form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">

  
    <label for="lastname">Vorname <br>
        <input type="text" name="firstname" placeholder="Vorname" autocomplete="given-name" required ngModel></label>

    <label for="firstname">Nachname <br>
        <input type="text" name="lastname" placeholder="Nachname" autocomplete="family-name" required ngModel></label>

    <label for="tel">Telefonnummer <br>
        <input type="tel" name="tel" placeholder="Telefonnummer" autocomplete="tel"  ngModel></label>

    <label for="email">E-Mail <br>
    <input type="email" name="email" placeholder="E-Mailadresse" autocomplete="email" email=true required ngModel></label>

    <label for="password"> <br>
    <input type="password"  name="password" autocomplete="current-password"  placeholder="Password" ngModel> </label>

    <button type="submit">go</button>
</form>